{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  <h1>Editar Categoría</h1>
  {% include 'common/_mensajes.html.twig'%}
  {% include 'categoria/_formulario.html.twig'%}
{% endblock %}