{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  <h1>Categorías</h1>    
  <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for categoria in categorias %}
        <tr>
          <td>{{categoria.nombre}}</td>
        </tr>
        {%endfor%}
      </tbody>

  </table>
{% endblock %}

